/* Global Backgrounds, Colors, and Widths */
* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: Verdana, sans-serif;
  margin: 0;
}

header,
nav ul,
#content-wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

a {
  color: #008000;
}

/* Logo */
header {
  position: relative;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
}

header h1,
nav ul {
  padding-left: 50px;
}

/* Navbar */
nav {
  background-color: #008000;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav ul li a:hover {
  background-color: black;
  color: #9ae39a;
}

/* Home Page Main Image */
main article img {
  border: 3px double #333;
  float: left;
  margin: 0.5rem 1rem 0.5rem 0;
}

/* Home Page Bottom Columns */
main section > div {
  background-color: #e7ffe7;
  border: 1px solid #008000;
  border-radius: 10px;
  flex: 1;
  margin-right: 1rem;
  text-align: center;
}

main section > div:last-child {
  margin-right: 0;
}

main section > div h2 {
  background-color: #008000;
  border-radius: 10px 10px 0 0;
  color: white;
  margin-top: 0;
}

main section > div img {
  border: 3px double #333;
  display: block;
  margin: 0 auto;
}

/* Sidebar */
aside section {
  background-color: white;
  margin-bottom: 1rem;
  border: 1px solid #008000;
}

aside h3 {
  background-color: #008000;
  color: white;
  padding: 0.5rem;
  margin: 0;
}

aside a {
  display: inline-block;
  padding: 0.5rem;
}

/* Home Page Columns */
#content-wrapper {
  display: flex;
}

#content-wrapper aside {
  background-color: #ccc;
  margin-right: 1rem;
  padding: 0.5rem;
  position: relative;
  top: 20px;
  order: -1;
  flex: 1;
}

#content-wrapper aside h2 {
  margin-top: 0;
  white-space: nowrap;
}

#content-wrapper main {
  order: 1;
  flex: 4;
}